@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body
{
    background: #fcfcfc;
}

.profilepic-dropdown
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
}

.navbar-custom
{
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	height: 50px;
}

.navbar-custom-brand
{
	font-family: 'Lobster', cursive;
	font-size: 14pt;
}

.dropdown-menuitem-custom
{
	font-size: 12pt;
}