.login_wrapper
{
    font: 14px sans-serif;
    width: 350px;
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
span.login_error
{
  color: red;
}
