.poster-avatar
{
	border-radius: 50%;
	height: 55px;
	width: 55px;
	border: 2px solid #EDEDED;
	padding: 2px;
}

.post-main-container
{
	border-radius: 3px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
}

.post-something-container
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	padding-bottom: 1px;
	margin-bottom: 20px;
	border-radius: 3px;
}

.poster-container
{
	padding-left: 10px;
}

.post-content-container
{
	font-family: 'Roboto', sans-serif;
	font-size: 11pt;
	padding: 10px;
}

.post-poster
{
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: #717171;
}

.post-posted-at
{
	font-family: 'Roboto', sans-serif;
	font-size: 8pt;
	color: #D7D7D7;
}

.btn, .btn-primary, .form-control
{
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
}